set_io clk J3
set_io S[0] R4
set_io S[1] R3
set_io S[2] T8
set_io S[3] T7
set_io S[4] R10
set_io A[0] T2
set_io A[1] T1
set_io A[2] R5
set_io A[3] T5
set_io A[4] R9
set_io B[0] T3
set_io B[1] R2
set_io B[2] R6
set_io B[3] T6
set_io B[4] P9
set_io led[0] B5
set_io led[1] B4
set_io led[2] A2
set_io led[3] A1
set_io led[4] C5
set_io led[5] C4
set_io led[6] B3
set_io led[7] C3
